<ion-content class="has-header has-footer">
  <ion-slides ng-hide="feedbackCtrl.feedbackSubmitted">
    <ion-slide-page ng-repeat="question in feedbackCtrl.feedbackQuestions">
      <ion-content overflow-scroll="true">
        <h3>{{question.question}}</h3>
        <ion-list>
          <ion-radio ng-repeat="option in question.options" ng-model="feedbackCtrl.answers[question.$id]" value="{{option}}"> {{option}} </ion-radio>
          <strong style="font-style: italic" ng-hide="$last"> &lt;&lt;Swipe left for Next question &gt;&gt;</strong>
        </ion-list>
        <button class="button button-calm" ng-show="$last" on-touch="feedbackCtrl.submitAnswers()">Submit</button>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
  <div ng-show="feedbackCtrl.feedbackSubmitted">
    <b>Thank you for giving the feedback !!</b>
  </div>
</ion-content>
