<ion-view title="Login" cache-view="false">
  <ion-content class="has-header has-footer">
    <div class="">
      <b>Please login before you can submit feedback</b>
    </div>
    <button class="button button-positive icon-left ion-social-facebook" ng-hide="loginCtrl.authData" ng-click="loginCtrl.login()">Facebook</button>
    <button class="button  button-positive icon-left ion-log-out" ng-click="loginCtrl.logout()"  ng-show="loginCtrl.authData">Logout</button>
    <div ng-show="loginCtrl.authData">
      <div class="item item-text-wrap">
        Hello {{loginCtrl.authData.facebook.displayName}}!
      </div>
    </div>
  </ion-content>
</ion-view>

